.grid-block__item-panel-like_active {
    background: url(../../../../images/Union.png) no-repeat;
    min-width: 22px;
    min-height: 19px;
    background-position: center;
    border-width: inherit;
    padding: 0;
}