.header {
    display: flex;
    align-items: flex-start;
    min-height: 74px;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 40px;
    position: relative;
}

.header::after {
    content: '';
    background-color: rgba(84, 84, 84, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(320px + (880 - 320) * ((100vw - 320px) / (768 - 320)));
        margin-top: 28px;
        min-height: 56px;
    }
}