.footer__author {
    color: #545454;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer__author {
        max-width: calc(282px + (714 - 282) * ((100vw - 320px) / (768 - 320)));
        margin: 0 0 36px;
    }
}