.footer__author {
    color: #545454;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer__author {
        font-size: 14px;
        line-height: 1.35;
    }
}