.wrapper {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    min-width: 320px;
}

@media screen and (max-width: 320px) {
    .wrapper {
        padding: 0;
    }
}