.profile__wrapper {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__wrapper {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__wrapper {
        max-width: 282px;
    }
}