.grid-block__item {
    max-width: 381px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
    min-height: 381px;
    position: relative;
}