.grid-block__item-panel-like {
    background: url(../../../images/Vector-min.svg) no-repeat;
    min-width: 22px;
    min-height: 19px;
    background-position: center;
    border-width: inherit;
    padding: 0;

}