.grid-block__item-panel-like {
    background: url(../../../images/vector-min.svg) no-repeat;
    min-width: 22px;
    min-height: 19px;
    background-position: center;
    border-width: inherit;
    padding: 0;
}

.grid-block__item-panel-like:focus {
    outline: none;
    background: url(../../../images/unionsvg.svg) no-repeat;
}

.grid-block__item-panel-like:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease 0s;
}