.profile__button {
    background: url(../../../images/Vectorkrest.png) no-repeat;
    min-width: 150px;
    min-height: 50px;
    background-position: center;
    padding: 0;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

.profile__button:focus {
    outline: none;
}

.profile__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
    .profile__button {
        width: 100%;
    }
}


