.profile-popup__close {
    cursor: pointer;
}

.profile-popup__close:hover {
    opacity: 0.6;
    transition: transform 0.3s ease-in 0s;
}

@media screen and (max-width: 915px) {
    .profile-popup__close {
        max-width: 40px;
        max-height: 40px;
    }
}